message{
    max-width: 100%;
}
.message{
    padding: 10px;
    margin: 2px;
    word-wrap: break-word;
    background-color: #fff;
}
messages{
    display: block;
}
.messages{
    display: inline-block;
}

.chat{
    background-color: #ddd !important;
}
.chat main{
    padding: 10px;
}
.submit-button{
    padding: 10px;
    margin: 10px;
}
.message-input-card{
    margin: 0px;
    background-color: #fff;
}
.message-input-card md-input-container{
    padding: 0px 10px 10px 10px;
}